/vendor/
.phpintel/
node_modules/
npm-debug.log
/public/images/
/public/verify/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/storage/
/public/hot/
/public/images/
storage/*.key
/storage/logs/
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
*.zip
*.sql
