.table-responsive{
	margin: 25px 0px 25px 0px;
}
.form-group.has-error {
    color: red;
}
.error {
    margin-top: 25px;
    margin-right: 50%;
}
button a, button a:hover {
    color: inherit;
}
.card-header.history {
    text-align: center;
    font-weight: bold;
}

@media (min-width:991px) {
 .pad {
  margin-left: 60px
 }
}
.dt-button {

    background: blue;
    color: #fff;
    padding-right: 5px;
    border-radius: 5px;
    border-color: black;

}